.consultation {
    position: relative;
    min-height: 680px;
    background: url(/src/img/consultation/bg2.png) center (center/cover) no-repeat;
    padding: 102px 0 108px 0;
    &__title {
        position: absolute;
        left: 20%;
        font-weight: bold;
        font-size: 36px;
        text-align: left;
        text-transform: uppercase;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    &__text {
        position: absolute;
        left: 20%;
        font-weight: 500;
        font-size: 22px;
        color: #FFFFFF;
        top: 32%;
    }
}

    .error {
        border: 2px solid green;
    }
    label.error {
        color: white;
        text-align: center;
    }
// #number-error {
//     color: white;
//     text-align: center;
// }

// #email-error {
//     color: white;
//     text-align: center;
// }